@media (max-width: 400px) {
    .desktop {
        visibility: hidden;
    }

    .mobile {
        visibility: visible;
    }
    
    header {
        padding: 0 10px;
        justify-content: space-between;
    }

    .welcome {
        height: 1100px;
        padding: 70px 0px 0 0px;
        flex-direction: column-reverse;
    }

    header nav, .header-cta{
        position: absolute;
        visibility: hidden;
    }

    .mobile-nav {
        position: unset;
        visibility: visible;
    }

    .image-intro {
        width: 100%;
        margin: unset;
        z-index: 97;
    }

    .welcome-text {
        padding-top: 50px;
        align-items: center;
    }

    .welcome-title {
        font-size: 50px;
        margin-bottom: 5px;
        text-align: center;
        z-index: 97;
    }
    
    .welcome-desc {
        text-align: center;
        padding: 0 30px 20px 30px;
    }

    .pattern-1 {
        top: 950px;
        right: 0px;
        z-index: 97;
    }
    
    .pattern-2 {
        top: 520px;
        left: 0px;
        z-index: 97;
    }

    .feature {
        height: 1000px;
        padding: 100px 10px 0 10px;
    }

    .title-line {
        margin: 40px auto;
    }

    .feature-title {
        height: 15%;
    }

    .feature-title-text {
        font-size: 50px;
        text-align: center;
        margin: 20px 0;
    }

    .feature-content {
        height: 85%;
        flex-direction: column;
        gap: 50px;
    }

    .feature-list {
        align-items: center;
    }
        
    .feature-detail {
       text-align: center;
    }

    .how-we-work {
        height: 600px;
        padding: 100px 50px;
    }

    .work-content {
        flex-direction: column;
    }

    .work-title-text {
        font-size: 32px;
        text-align: center;
        padding: 50px 30px 0px 30px;
    }

    .work-cta {
        justify-items: center;
        align-items: center;
    }

    .work-cta-button {
        margin: auto;
    }

    .pattern-3{
        top: 2200px;
        right: 50px;
        object-fit: unset;
        width: unset;
        height: unset;
    }

    footer {
        height: 1000px;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    .footer-nav {
        height: 10%;
        flex-direction: column;
    }

    .footer-nav ul {
        margin-right: unset;
        margin: auto;

    }

    #footer-logo {
        margin-left: unset;
        margin: auto;
    }

    .footer-link {
        flex-direction: column;
    }

    .link-group {
        width: 100%;
        height: 25%;
    }

    .group-title {
        text-align: center;
    }

    .group-list li {
        text-align: center;
    }

    .pattern-4 {
        top: 2630px;
    }
}
